{% comment %}
///////////////////////////////////////////////////////////////////////////////
// index.liquid
///////////////////////////////////////////////////////////////////////////////
{% endcomment %}
<div id="content" class="{{ template }}" data-template="{{ template }}" data-title="{{ page_title | handle }}">
Callina


</div>
