///////////////////////////////////////////////////////////////////////////////
// --------------------------------------------------------------------------//
// _footer.scss
// --------------------------------------------------------------------------//
///////////////////////////////////////////////////////////////////////////////

.breadcrumb{
  display: inline-block;
  height: 34px;
  vertical-align: top;
  @include scut-padding( 10px 0.625rem ); // magic numbers to lock in spacing
  @include type($font-one, $gamma, $book, $case: 'up', $margin: false );
  color: $white;
  &__link--thin{
    @include type($font-one, $gamma, $thin, $case: 'up', $margin: false );
  }
  &__link--bold{
    @include type($font-one, $gamma, $bold, $case: 'up', $margin: false );
  }
  a{
    @include color($colorText, $colorActive );
  }
  i{
    display: inline-block;
    @include scut-padding( n 0.5rem );
  }
  span{
    display: inline-block;
  }
}
