///////////////////////////////////////////////////////////////////////////////
// --------------------------------------------------------------------------//
// header.scss
// --------------------------------------------------------------------------//
///////////////////////////////////////////////////////////////////////////////

// Main Navigation - Desktop
///////////////////////////////////////////////////////////////////////////////
body.medium .header,
body.large .header{

  $navHeight: 5.25rem;
  $navOffset: -$navHeight;
  $openTime: $time;

  position: relative;
  height: $navHeight;
  background: white;
  transition: height $openTime ease-out;

  &.open{
    height: $navHeight * 2;
  }

  .menu-toggle{
    display: none;
  }

  .logo{
    @include scut-absolute( n n 0 0 );
    @include scut-margin( n n n 2rem );
    height: $navHeight;
    display: flex;
    align-items: center;
    z-index:10;
  }

  .cart-icon{
    @include scut-absolute( n 0 0 n );
    @include scut-margin( n 2rem n n );
    height: $navHeight;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index:10;
    path{
      transition: $time;
      &:hover{
        fill: $colorActive;
      }
    }
  }

  .nav{
    @include scut-absolute( n n 0 n );
    height: $navHeight;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: $time;

    // Main Nav
    &__items{
      @include scut-margin( n 3.5rem n n );
    }

    &__item{
      display: inline-block;
      @include scut-margin( n 1.5rem n n );
    }

    &__link{
      position: relative;
      @include type( $font-one, $epsilon, $book, $case: 'up' );
      @include color( $colorText, $colorActive );
      &.active{
        color: $colorActive;
      }
      &.highlight{
        color: $colorSpot1;
      }
      // Underline
      &::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba($bluegrey, 0.5);
        content: '';
        opacity: 0;
        transition: opacity $time, transform $time;
        transform: translateY(10px);
      }
      &.active::after,
      &:hover::after,
      &:focus::after {
        opacity: 1;
        transform: translateY(5px);
      }
    }

    // Sub Nav
    &__subitems{
      @include scut-absolute( $navOffset*2 n n 0 );
      height: $navHeight;
      width: 100%;
      background: $blue;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: position 0s;

      &.show{
        @include scut-absolute( $navOffset n n 0 );
      }
    }

    &__subitem{
      position: relative;
      display: inline-block;
      @include scut-margin( n 1.5rem n n );
      top: 10px;
      opacity: 0;
      transition: $time*1.5;
    }
    @for $i from 1 through 10 {
      &__subitem:nth-child(#{$i}) {
        transition-delay:(#{$i*0.02s+0.1s});
      }
    }
    .show .nav__subitem{
      top:0px;
      opacity: 1;
    }

    &__sublink{
      @include type( $font-one, $delta, $book, $margin: false );
      text-transform: lowercase;
      @include color( $grey, $white );

      &.active{
        color: $white;
      }
    }

  }
}



// Main Navigation - Mobile
///////////////////////////////////////////////////////////////////////////////
body.small .header{

  $navHeight: 4rem;
  $navOffset: -$navHeight;

  position: relative;
  height: auto;
  background: white;
  text-align: center;
  transition: $time;

  .menu-toggle{
    @include scut-absolute( n n 0 1rem );
    height: $navHeight;
    display: flex;
    align-items: center;
    z-index:10;
    cursor: pointer;

    .menu-icon-bg{
      transition: $time;
    }
    &:hover .menu-icon-bg{
      //fill: darken( $red, 5% );
    }

    // Closed Menu State
    .menu-line-top,
    .menu-line-bottom{
      fill-opacity: 1;
      transition: $time;
    }
    .menu-line-middle-a,
    .menu-line-middle-b{
      transform-origin: 50% 50%;
      transform: rotate(0.01deg) scaleX(1);
      transition: $time;
    }
    .menu-line-correct{
      transform: translate(17.5px, 17px);
    }
    .menu-line-anticorrect{
      transform: translate(-17.5px, -17px);
    }

    &.active{
      // Open Menu State
      .menu-line-top,
      .menu-line-bottom{
        fill-opacity: 0;
      }
      .menu-line-middle-a{
        transform: rotate(45deg) scaleX(1.25);
      }
      .menu-line-middle-b{
        transform: rotate(-45deg) scaleX(1.25);
      }
    }
  }

  .logo{
    height: $navHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      transform: scale(.9);
    }
  }

  .cart-icon{
    @include scut-absolute( n 1rem 0 n );
    height: $navHeight;
    display: flex;
    align-items: center;
    z-index:10;
  }

  .nav{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: $blue;
    text-align: left;
    transition: $time;

    &.open{
      max-height: 30rem;
    }

    // Main Nav
    &__items{
      @include scut-padding( 1.5rem n );
    }

    &__item{
      position: relative;
      display: block;

      // The following two are the + and -
      &--has-subnav > a:before{
        content: '+';
        height: 2rem;
        @include scut-absolute( 0.7rem n n 1.5rem );
        @include type( $font-one, $gamma, $book, $case: 'up', $margin: false );
        @include color( $colorText, $colorActive );
      }
      &--open > a:before,
      & > a.highlight:before,
      & > a.active:before{
        content: $scut-ndash;
        @include scut-absolute( 0.6rem n n 1.5rem );
      }
    }

    &__link{
      display: block;
      @include type( $font-one, $gamma, $book, $case: 'up', $margin: false );
      @include scut-padding( 0.75rem 3.25rem );
      @include color( $colorText, $colorActive );

      &.active{
        color: $colorActive;
      }
    }


    // Sub Nav
    &__subitems{
      width: 100%;
      @include scut-margin( n n 0 n );
      max-height: 0;
      overflow: hidden;
      list-style-type: none;
      transition: max-height $time;

      &.show{
        max-height: 20rem;
        @include scut-margin( n n 1rem n );
      }
    }

    &__subitem{
      display: block;
    }

    &__sublink{
      display: block;
      @include type( $font-one, $gamma, $book, $margin: false );
      text-transform: lowercase;
      @include scut-padding( 0.75rem 3.25rem );
      @include color( $colorText, $colorActive );

      &.active{
        color: $colorActive;
      }
    }

  }
}

// Mobile Menu Toggle & Animation
///////////////////////////////////////////////////////////////////////////////
.menu-toggle{

}
