///////////////////////////////////////////////////////////////////////////////
// --------------------------------------------------------------------------//
// _buttons.scss
// --------------------------------------------------------------------------//
///////////////////////////////////////////////////////////////////////////////

// Button Variables
///////////////////////////////////////////////////////////////////////////////

// Light Style
$buttonBg-ColorLight: $white;
$buttonText-ColorLight: $white;
$buttonBg-ColorLight-Hover: $lightBlue;
$buttonText-ColorLight-Hover: $white;

// Dark Style
$buttonBg-ColorDark: $white;
$buttonText-ColorDark: $white;
$buttonBg-ColorDark-Hover: $lightBlue;
$buttonText-ColorDark-Hover: $white;

// Border
$button-border-width: 2px;

// Button Mixin
///////////////////////////////////////////////////////////////////////////////
@mixin button( $style: 'light' ){
  display: inline-block;
  @include type( $font-one, $alpha, $case: 'up' );
  @include scut-padding( 0.75rem 2.5rem );
  background: none;
  text-decoration: none;
  transition: $time*2;
  cursor: pointer;

  @if( $style == 'light' ){
    color: $buttonText-ColorLight;
    @include scut-border( $button-border-width solid $buttonBg-ColorLight, y y y y );
    &:hover:not([disabled]),
    &:hover:not([disabled]){
      color: $buttonText-ColorLight-Hover;
      background: $buttonBg-ColorLight-Hover;
      @include scut-border( $button-border-width solid $buttonBg-ColorLight-Hover, y y y y );
    }
  }

  @if( $style == 'dark' ){
    color: $buttonText-ColorDark;
    @include scut-border( $button-border-width solid $buttonBg-ColorDark, y y y y );
    &:hover:not([disabled]),
    &:hover:not([disabled]){
      color: $buttonText-ColorDark-Hover;
      background: $buttonBg-ColorDark-Hover;
      @include scut-border( $button-border-width solid $buttonBg-ColorDark-Hover, y y y y );
    }
  }

  &.disabled{
    cursor: pointer;
    opacity: 0.25;
  }

  @include break( $max, 480px ){
    display: block;
    width: 100%;
    text-align:center;
  }
}


// Button Appearance
///////////////////////////////////////////////////////////////////////////////
.btn,
%btn,
.btn--dark,
%btn-dark,
button,
input[type="submit"] {
  appearance: none;
}


// Button Shortcuts
///////////////////////////////////////////////////////////////////////////////
%btn,
.btn{
  @include button();
}

%btn-full,
.btn--full{
  width: 100%;
  text-align: center;
}

%btn--dark,
.btn--dark{
  @include button('dark');
}


