///////////////////////////////////////////////////////////////////////////////
// --------------------------------------------------------------------------//
// _colors.scss
// --------------------------------------------------------------------------//
///////////////////////////////////////////////////////////////////////////////

// Colors by Name
///////////////////////////////////////////////////////////////////////////////
$white: #ffffff;
$black: #231f20;
$blackFull: #000;
$lightGrey: #e1e1e1;
$medGrey: #484343;
$grey: #939799;
$darkGrey: darken( $grey, 10% );
$blue: #183249;
$lightBlue: #56dbef;
$bluegrey: #abccd9;
$alert: $lightBlue;



// Globals
///////////////////////////////////////////////////////////////////////////////

/* Global colors */
$colorText: $grey;
$colorTextLight: $lightGrey;
$colorTextDark: $darkGrey;
$colorActive: $lightBlue;
$colorHeaders: $grey;

$colorSpot1: $blue;

/* Backgrounds */
$colorBody: $white;
$colorNavBg: $blue;
$colorFooterBg: $white;

// Main Nav
$colorNav: $grey;
$colorNavHover: $blue;
$colorSubNav: $lightGrey;
$colorSubNavHover: $white;

/* Text link colors */
$colorLink: $grey;
$colorLinkHover: $darkGrey;

// Product Thumbnail
$colorProductThumbnailOverlay: rgba( $lightBlue, 0.5 );

/* Button colors */
// In _buttons.scss

/* Border colors */
$borderColor: $grey;
$borderColorForm: $lightGrey;

/* Helper colors */
$disabled: $grey;
$disabledBorder: darken( $disabled, 25%);
$error: $alert;
$errorBg: lighten($alert, 55%);
$success: $blue;


// Color Mixin
///////////////////////////////////////////////////////////////////////////////
@mixin color( $color, $hover: 'false', $underline: 'false' ){
  color: $color;
  @if $hover != 'false'{
    transition: 0.2s;
    &:hover,
    &:focus{
      color: $hover;
    }
  }
  @if $underline == 'true'{
    @include scut-link-bb;
  }
}



